body {
    margin: 0;
}
.container {
    margin: 0px 166px;
}
  .header {
    margin-bottom: 145px;
  }
ul {
    list-style: none;
    margin: 0; 
    padding-left: 0; }
    
a {
        text-decoration: none;
    }

    .header__list-item{
        margin-right: 10px;
    }
    .header-list {
        align-items: center;
        display: flex;
        margin-top: 50px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
    
    

    .header__list2 {
        margin-top: -37px;
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
    .header_list-link {
        color: black;
    }

    .main {
        background-color:  rgba(238, 228, 219, 1);
        padding-top: 1px;
    }
    .menu {
        padding-left: 28px;
    }
    .btn1 {
        background-color: black;
        color: white;
        padding: 12px 9px;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 90px;
    }
    h1 {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
    }
    .number-1 {
        color: rgba(30, 6, 6, 0.05);
        font-family: 'Montserrat';
    }
    
    .banner {
        margin-left: 80px;
        margin-top: -92px;
    }
    .alien_img {
        width: 636px;
        position: absolute;
        margin-left: 755px;
        margin-top: -132px;
    }

    .foot-banner {
        background-color: rgba(194, 153, 116, 1);
        
    }
    .banner-text {
        color: white;
        text-align: center;
        padding: 12px;
        font-family: 'Open Sans';
        font-weight: bold;
    }

    .products {
        margin-top: 90px;
        font-size: 38px;
        margin-bottom: 30px;
    }

    .design-text {
        font-family: 'Crimson Text';
        font-size: 20px;
    }

    .category {
        font-family: 'Montserrat';
        color: #1E0606;
        margin-bottom: 30px;
    }
    .cards {
        position: relative;
        display: flex;
        justify-content:space-between ;
        margin-bottom: 33px;
        font-family:'Open Sans';
        font-weight: bold;
    }
    .card-text {
        margin-top: 130px;
        font-size: 26px;
        position: absolute;
        margin-left: 80px;
        text-align: center;
        color: white;
        cursor: pointer;
    }
    .card-text2 {
        position: absolute;
        margin-left: 95px;
        margin-top: 130px;
        text-align: center;
        color: white;
        font-size: 26px;
        cursor: pointer;
    }
    .card-text3 {
        position: absolute;
        margin-left: 115px;
        margin-top: 130px;
        text-align: center;
        color: white;
        font-size: 26px;
        cursor: pointer;
    }
    .card-text4 {
        position: absolute;
        margin-left: 60px;
        margin-top: 130px;
        text-align: center;
        color: white;
        font-size: 26px;
        cursor: pointer;
    }
    .vectors {
        position: absolute;
        margin-top: 1px;
    }
    .vec1 {
        background-color: rgba(112, 187, 220, 0.2);
        padding: 5px;
    }
    .vec2 {
        background-color: rgba(112, 187, 220, 0.2);
        padding: 5px;
    }
    .vectors-text {
        font-size: 16px;
        margin-left: 75px;
        font-family: 'Open Sans';
        word-spacing: 3px;
        margin-bottom: 90px;
    }
    
    .delivery-name {
        font-size: 38px;
        font-family: 'Montserrat';
        margin-bottom: 6px;
        padding-top: 50px;
    }
    .del_var {
        font-size: 26px;
        font-family: 'Crimson Text';
    }
    .del_disc {
        font-family: 'Open Sans';
        font-size: 20px;
    }
    .del-btn {
        margin-top: 26px;
        background-color: black;
        padding: 10px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        font-family: 'Open Sans';
        cursor: pointer;
        margin-bottom: 242px;
    }
    .girl_img {
        float: left;
        padding-right: 90px;
        width: 550px;
        height: 672px;
    }
    .brands {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }

    .contacts {
        background-color:rgba(225, 240, 247, 1);
        height: 268px;
    }
    
    .about-design {
        width: 543px;
        padding-top: 30px;
        padding-left: 31px;
        font-size: 26px;
        font-family: 'Crimson Text';
    
    }
    .name-design {
        position: relative;
        padding-left: 135px;
        margin-top: 29px;
        margin-bottom: -55px;
        font-size: 35px;
        font-weight: bold;
        font-family: 'Montserrat';
    }
    .about-and-contacts {
        display: flex;
        justify-content: space-around;
    }
    .discription-design {
        font-size: 16px;
        padding-left: 30px;
        font-family: 'Open Sans';
    }
    
    .btn {
        padding: 9px 25px;
        color: white;
        background-color: black;
        margin-left: 30px;
        font-weight: bold;
        font-family: 'Open Sans';
    }
    
    .map {
        margin-left: 50px;
        margin-top: 20px;
    }
    .name-contacts {
        position: relative;
        padding-left: 35px;
        margin-top: -58px;
        font-size: 35px;
        font-weight: bold;
        font-family: 'Montserrat';
    }
    
    .about-contacts {
            width: 543px;
            padding-left: 31px;
            font-size: 26px;
    }
    .discription-contacts {
        font-size: 16px;
        padding-left: 30px;
        margin-top: -15px;
        font-family: 'Open Sans';
    }





















    @media (max-width: 780px) {
        .container {
            margin: auto 10px;
        }
    }
    @media (max-width: 494px) {
        .header__list2 {
            margin-top: 5px;
            margin-left: 20px;
        }
    }
    @media (max-width: 1810px) {
        .alien_img {
            margin-left: 655px;
        }
    }
    @media (max-width: 1705px) {
        .alien_img {
            margin-left: 555px;
        }
    }
    @media (max-width: 1605px) {
        .alien_img {
            margin-left: 355px;
        }
    }
    @media (max-width: 1405px) {
        .alien_img {
            margin-left: 255px;
        }
    }
   
    @media (max-width: 1304px) {
        .alien_img {
            display: none;
        }
    }