a{
    position: relative;
    color: #ffffff;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
   }
   a:hover {
    text-decoration: underline;
    }

body {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1920px;
}
.header {
    margin-bottom: 60px;
  }

li {
    list-style-type: none; 
   }
   ul {
    margin-left: 0; 
    padding-left: 0; 
   }
   .header__list-item{
    margin-right: 20px;
}
.header_logo {
    margin-right: 50px;
}
.header-list {
    align-items: center;
    display: flex;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


.header_list-right {
    margin-top: -53px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-family: 'Open Sans';
}
.header_list-link {
    color: rgb(0, 0, 0);
}

.container {
    margin:0px 166px;
   }

.blog-title {font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;}
.page {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 50px;
   }
   .pages{
    display: flex;
    margin-right: 20px;
   }
   .catalog {
    color: rgba(30, 6, 6, 1);
   }
   .home a {
    color: #000000;
    margin-right: 20px;
   }
   .arrow {
    margin-right: 20px;
   }
   /* Карты */
   .cards_up {
    display: flex;
    justify-content: space-between;
   }
   .cards_down {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
   }

   .cards_blog-title {
    width: 380px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 15px;
   }
   .cards_blog-date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(129, 129, 129, 1);
    margin-top: 20px;
    margin-bottom: 7px;
   }
   .cards_blog-disc {
    width: 380px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
   }

   /* номера страниц */
   .numerals {
    display: flex;
    justify-content: center;
   }
   .numerals_item a {
    color: #000000;
    margin-right: 67px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
   }
   .numerals_arrows {
    padding-left: 610px;
    padding-right: 630px;
   }
  
   /* футер */
   .footer {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(67, 67, 67, 1);
    margin-top: 150px;
    font-family: 'Open Sans';
    font-size: 16px;
}
.footer-menu hr {
    width: 380px;
}
.footer-names {
    display: flex;
    justify-content: space-between;
}
.connect-text {
    margin-top: 8px;
    color: rgba(170, 170, 170, 1);
    
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    color: #ffffff;
    line-height: 35px;
}

* {box-sizing: border-box;}
form {
  position: relative;
  width: 380px;
  margin: 0 auto;
}

input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  background: rgba(102, 102, 102, 1);
  color: #f8f8f8;
}
.footer-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  position: absolute; 
  top: 0;
  right: 0px;
  width: 81px;
  height: 42px;
  border: none;
  background: #000000;
  cursor: pointer;
  color: #ffffff;
}
.footer-btn:before {
  font-size: 16px;
  color: #F9F0DA;
}
span {
    color: rgba(170, 170, 170, 1);
}
.footer-pic {
    margin-top: 25px;
    word-spacing: 10px;
}

.footer-end {
    display: flex;
    justify-content: space-around;
    margin-top: 23px;
    padding-bottom: 40px;
}
.rating {
    float: left;
}

.rating_text {
    color: #ffffff;
    padding-right: 5px;
}

.stars-img {
    padding-left: 5px;
}
.copyright {
    color: #ffffff;
}

.editor-name {
    color: rgba(162, 162, 162, 1);
}

hr {
    border: none;
    color: rgba(102, 102, 102, 1);
    background-color: rgba(102, 102, 102, 1);
    height: 2px;
   }

   ::placeholder {
    color: rgba(235, 235, 235, 1);
    font-size: 16px
  }