a{
    position: relative;
    color: #ffffff;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
   }
   a:hover {
    text-decoration: underline;
    }

body {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1920px;
}
.header {
    margin-bottom: 60px;
  }

li {
    list-style-type: none; 
   }
   ul {
    margin-left: 0; 
    padding-left: 0; 
   }
   .header__list-item{
    margin-right: 20px;
}
.header_logo {
    margin-right: 50px;
}
.header-list {
    align-items: center;
    display: flex;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


.header_list-right {
    margin-top: -37px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.header_list-link {
    color: rgb(0, 0, 0);
}
    .Category_Products-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    }
   
   .products {
    font-size: 29px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
   }
   .products_cards {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -40px;
    }
   
   .cards_title_br-one {
    background-image: url(/img/kids.png);
    background-repeat: no-repeat;
    padding: 120px 35px;
    width: 270px;
    color: rgb(255, 255, 255);
    margin-right: 30px;
   }
   .cards_title_br-two{
    background-image: url(/image2.png);
    background-repeat: no-repeat;
    padding: 120px 55px;
    width: 270px;
    color: #fff;
    margin-right: 30px;
   }
    .cards_title-three{
    background-image: url(/image3.png);
    background-repeat: no-repeat;
    padding: 130px 45px;
    width: 270px;
    color: #fff;
    }
    .cards_title-four{
    background-image: url(/image4.png);
    background-repeat: no-repeat;
    padding: 130px 40px;
    width: 270px;
    color: #fff;
    margin-left: 200px;
    }
    .products_cards-two{
    display: flex;
    }
    .cards_title-five{
    background-image: url(/5.png);
    background-repeat: no-repeat;
    padding: 130px 40px;
    width: 270px;
    color: #fff;
    margin-left: 30px;
    }

    .cards_title_br_six{
        background-image: url(/6.png);
        background-repeat: no-repeat;
        padding: 110px 40px;
        width: 270px;
        color: #fff;
        margin-left: 30px;
    }

   .container {
    margin:0px 166px;
   }
   /* Выбор страницы */
   .page {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 50px;
   }
   .pages{
    display: flex;
    margin-right: 20px;
   }
   .catalog {
    color: rgba(30, 6, 6, 1);
   }
   .home a {
    color: #000000;
    margin-right: 20px;
   }
   .arrow {
    margin-right: 20px;
   }
   /* product discription */
   .product_discription_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    padding-left: 194px;
   }
   .product_discription-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-left: 194px;
   }
   .product_discription_item {
    margin-bottom: 15px;
    width: 680px;
   }
   /* ФУТЕР */
   .footer {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(67, 67, 67, 1);
    margin-top: 55px;
    font-family: 'Open Sans';
    font-size: 16px;
}
.footer-menu hr {
    width: 380px;
}
.footer-names {
    display: flex;
    justify-content: space-between;
}
.connect-text {
    color: rgba(170, 170, 170, 1);
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    color: #ffffff;
    line-height: 35px;
}

* {box-sizing: border-box;}
form {
  position: relative;
  width: 380px;
  margin: 0 auto;
}

input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  background: rgba(102, 102, 102, 1);
  color: #f8f8f8;
}
.footer-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  position: absolute; 
  top: 0;
  right: 0px;
  width: 81px;
  height: 42px;
  border: none;
  background: #000000;
  cursor: pointer;
  color: #ffffff;
}
.footer-btn:before {
  font-size: 16px;
  color: #F9F0DA;
}
span {
    color: rgba(170, 170, 170, 1);
}
.footer-pic {
    margin-top: 25px;
    word-spacing: 10px;
}

.footer-end {
    display: flex;
    justify-content: space-around;
    margin-top: 23px;
    padding-bottom: 40px;
}
.rating {
    float: left;
}

.rating_text {
    color: #ffffff;
    padding-right: 5px;
}

.stars-img {
    padding-left: 5px;
}
.copyright {
    color: #ffffff;
}

.editor-name {
    color: rgba(162, 162, 162, 1);
}

hr {
    border: none;
    color: rgba(102, 102, 102, 1);
    background-color: rgba(102, 102, 102, 1);
    height: 2px;
   }

   ::placeholder {
    color: rgba(235, 235, 235, 1);
    font-size: 16px
  }