.wrapper {
    background-color:rgba(125, 151, 218, 0.2) ;
    margin-top: 50px;
    height: 284px;
}
.Category_Products-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

.pages {
display: flex;
gap: 20px;
font-family: 'Crimson Text';
font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 26px;
}

.pages a{
    color: #000;
}

.toys a {
    color: rgb(90, 88, 88);
}

.enter_menu {
    padding-top: 42px;
    display: flex;
}

.range_cost {
    width: 188px;
}

.cost_title {
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
}

.price {
    display: inline;
    margin-right: 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.enter_color {
    margin-right: 150px;
    font-size: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.color-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  .color-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #c5c5c5;
  }
  
  
  .color-check:hover input ~ .checkmark {
    background-color: rgba(194, 153, 116, 1);
  }
  
  
  .color-check input:checked ~ .checkmark {
    background-color: #ffffff;
  }
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .color-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  .color-check .checkmark:after {
    left: 4.5px;
    top: 0px;
    width: 7px;
    height: 12px;
    border: solid rgba(194, 153, 116, 1);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Радио баттон */
  .custom-radio_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  .custom-radio__label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  .custom-radio [type="radio"]:checked,.custom-radio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;

  }
  
  .custom-radio [type="radio"]:checked + .custom-radio__label,.custom-radio [type="radio"]:not(:checked) + .custom-radio__label {
    position: relative;
    padding: 0px 0 5px 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 4px;
  }
  
  .custom-radio [type="radio"]:checked + .custom-radio__label:before,.custom-radio [type="radio"]:not(:checked) + .custom-radio__label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  
  .custom-radio [type="radio"]:checked + .custom-radio__label:after,.custom-radio [type="radio"]:not(:checked) + .custom-radio__label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: rgba(194, 153, 116, 1);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .custom-radio [type="radio"]:not(:checked) + .custom-radio__label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  
  .custom-radio [type="radio"]:checked + .custom-radio__label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /* Радио баттон 2 */

  .form_radio_group {
    display: inline-block;
    overflow: hidden;
    margin-left: 99px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .form_radio_group-item {
    display: inline-block;
    float: left;  
  }
  .form_radio_group input[type=radio] {
    display: none;
  }
  .form_radio_group label {
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    padding: 0px 30px;
    line-height: 34px;
    border: 1px solid rgb(230, 229, 229);
    border-right: none;
    user-select: none;
  }
   
   
  /* Checked */
  .form_radio_group input[type=radio]:checked + label {
    background: rgba(243, 208, 219, 1);
  }
   
  /* Hover */
  .form_radio_group label:hover {
    color: #666;
  }
  .enter_menu-btn {
    margin-top: 70px;
    margin-left: 40px;
  }
  .menu_btn {
    background-color: #000;
    margin-left: 69px;
    padding: 9px 22px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  /* SHOP */
  .shop {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 45px;
  }
 .shope_one-product {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
 }

 .shope_one-price {
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
 }
 
 .shop_two {
  display: flex;
  gap: 100px;
  justify-content: center;
 }


 .arrow {
  display: flex;
  justify-content: space-between;
 }

 .num_page {
  margin-top: 53px;
  align-items: center;
  display: flex;
  position: relative;
  justify-content: space-between;
 }

 .numbers {
  display: flex;
  gap: 67px;
  
 }